/* .selection_bubble {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background:-webkit-gradient(linear, left top, left bottom, from(#2e88c4), to(#075698));
} */

.popup-container {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    visibility: hidden;
    width: 312px;
    /* height: 42px; */
    top:0;
    left:0;
    /* background-color: #464649;
    text-align: left;
    border-radius: 4px 4px 0px 0px;
    padding: 0 0 0 8px; */
    z-index: 1;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    /* margin-left: -80px; */
  }

  /* The actual popup (appears on top)
  .popup .popuptext {
    visibility: visible;
    width: 312px;
    height: 42px;
    background-color: #464649;
    color: #fff;
    text-align: left;
    border-radius: 4px 4px 0px 0px;
    padding: 0 0 0 8px;
    position: absolute;
    z-index: 1;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    cursor: pointer;
  } */


  /* Popup container */
/* .popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  visibility: visible;
} */

/* The actual popup (appears on top) */
/* .popup.popuptext {
  visibility: visible;
  width: 312px;
  height: 42px;
  background-color: #464649;
  color: #fff;
  text-align: left;
  border-radius: 4px 4px 0px 0px;
  padding: 0 0 0 8px;
  position: absolute;
  z-index: 1;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  cursor: pointer;
}

.popup.popupimage {
  margin-top: 9px;
}

.spacingExtra {
  padding: 16px 0 8px 0;
}

.spacingExtra:hover {
  background-color: #535361;
}

.spacingReport {
  padding: 8px 0 16px 0;
}

.spacingReport:hover {
  background-color: #535361;
}

.content {
  display: none;
  overflow: hidden;
  width: 312px;
  background-color: #5E5E6D;
  border-radius: 0px 0px 4px 4px;
  padding: 0 0 0 8px;
  position: absolute;
  z-index: 1;
  margin-left: -8px;
  margin-top: 42px;
} */

/* Popup arrow
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
} */

/* Toggle this class when clicking on the popup container (hide and show the popup) */
/* .popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
} */

/* Add animation (fade in the popup) */
/* @-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
} */
